<!--BEGIN top bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">My Cookbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="library">My Recipes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Recipes">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--END top bar-->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{#each recipes}}
          <h5 class="card-title"><u>{{this.recipe_name}}</u></h5>
          <p>
            <strong>Servings:</strong> {{this.number_of_servings}}</p>
          <p>
          <p>
            <strong>Total Time:</strong> {{this.total_time}}</p>
          
          <strong>Ingredients:</strong>
          <ul>
          {{#each this.ingredientsArray as |ingredient|}}
            <li>
              {{ingredient}}
            </li>
          {{/each}}
          </ul>
          <p>
            <strong>Directions:</strong> {{this.directions}}</p>
          {{/each}}

            <a href="/library">← Back To Recipes</a>

        </div>
      </div>
    </div>
  </div>
</div>
