<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          {{#each recipes}}
          <h5 class="card-title">{{this.recipe_name}}</h5>
          <p>
            <strong>Servings:</strong>: {{this.number_of_servings}}</p>
          <p>
          <p>
            <strong>Total Time:</strong>: {{this.total_time}}</p>
          <p>
            <strong>Ingredients:</strong> {{this.ingredients}}</p>
          <p>
            <strong>Directions:</strong> {{this.directions}}</p>
          {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
